# MySQL Configuration
MYSQL_PORT=23306
MYSQL_USERNAME=your_user
MYSQL_PASSWORD=changeit
MYSQL_DATABASE=your_database_name

# PostgreSQL Configuration
POSTGRES_PORT=25432
POSTGRES_USERNAME=your_user
POSTGRES_PASSWORD=changeit
POSTGRES_DATABASE=your_database_name

# MongoDB Configuration
MONGO_PORT=27017
MONGO_USERNAME=your_user
MONGO_PASSWORD=changeit
MONGO_DATABASE=your_database_name

# Redis Configuration
REDIS_PORT=26379
REDIS_PASSWORD=changeit

# Kafka Configuration
KAFKA_PORT=29092
KAFKA_USERNAME=your_user
KAFKA_PASSWORD=changeit

# Minio Configuration
MINIO_USERNAME=your_user
MINIO_PASSWORD=changeit
MINIO_DEFAULT_BUCKETS=your_bucket

# UI Tools Configuration
PHPMYADMIN_PORT=280
PGADMIN_PORT=281
MONGOEXPRESS_PORT=28081
REDIS_COMMANDER_PORT=28082
KAFKA_UI_PORT=28080
MINIO_UI_PORT=29001

# Data Directory for Volumes
DATA_DIR=./