# MySQL
MYSQL_ROOT_PASSWORD=rootpassword
MYSQL_DATABASE=mydb
MYSQL_USER=myuser
MYSQL_PASSWORD=mypassword

# PostgreSQL
POSTGRESQL_USERNAME=myuser
POSTGRESQL_PASSWORD=mypassword
POSTGRESQL_DATABASE=mydb

# MongoDB
MONGODB_ROOT_PASSWORD=rootpassword
MONGODB_USERNAME=myuser
MONGODB_PASSWORD=mypassword
MONGODB_DATABASE=mydb

# Redis
REDIS_PASSWORD=redispassword

# Kafka
KAFKA_CLUSTER_NAME=local
KAFKA_PORT=29092
KAFKA_USERNAME=sinouser
KAFKA_PASSWORD=changeit

# MinIO
MINIO_ROOT_USER=minio
MINIO_ROOT_PASSWORD=minio123
